[submodule "wmis/extern/xgboost"]
	path = wmis/extern/xgboost
	url = https://github.com/dmlc/xgboost/
[submodule "wmis/extern/json"]
	path = wmis/extern/json
	url = https://github.com/nlohmann/json.git
