[submodule "wmis/extern/xgboost"]
	path = wmis/extern/xgboost
	url = https://github.com/dmlc/xgboost/
[submodule "wmis/extern/json"]
	path = wmis/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "wmis/extern/algo_test"]
	path = wmis/extern/algo_test
	url = https://github.com/josephholten/algo_test.git
[submodule "wmis/extern/docopt.cpp"]
	path = wmis/extern/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "wmis/extern/frugally-deep"]
	path = wmis/extern/frugally-deep
	url = https://github.com/Dobiasd/frugally-deep.git
[submodule "wmis/extern/FunctionalPlus"]
	path = wmis/extern/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus
[submodule "wmis/extern/eigen"]
	path = wmis/extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
